

.review {
    &Slide {
        padding-top: 54px;
        padding-left: 40px;
        @include media-breakpoint-up(md) {
            padding-top: 80px;
            padding-left: 45px;
        }
    }   

    &-item {
        p {
            margin-bottom: 10px;
        }
    }
}